<ul id="contact">
	<li>
		{{fullName}}
	</li>
	<li>
		{{title}}
	</li>
	<li>
		{{phoneNumber}}
	</li>
	<li>
		{{email}}
	</li>
	<li>
		{{streetAddress}}
	</li>
	<li>
		{{city}}
	</li>
	<li>
		{{state}}
	</li>
	<li>
		{{zipCode}}
	</li>
</ul>